
.priority-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
  }
  
  .priority-section {
    flex: 1;
  }
  

  .ticket {
    margin-top: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow:2px 2px 2px rgba(128, 128, 128, 0.158) ;
  }
.ticket {
  border: 1px solid #ddd; 
  padding: 10px;
  margin: 10px;
}

.ticket strong {
  color: #333; 
}


.count{
  margin-left: 5%;
}
.space{
  margin-left: 70px;
}