
.user-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .user-section {
    flex: 1;
  }
  
  
  .ticket {
    margin-top: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow:2px 2px 2px rgba(128, 128, 128, 0.158) ;
  }